/*
*Paleta de colores*
Amarillo: #EAC926
Azul: #03264C
Celeste: #1259c3
Gris oscuro: #666
Gris claro: #ebebeb
Verde: #39b54a

*Tipografías*
Familia: 'Roboto'

*Tamaños Tipográficos*
Cuerpo de texto: 12px
Titulares: 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

*Íconos*
https://fontawesome.com/icons?d=gallery&m=free

*/

/* ------------------------------------------------ */

/** Body **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

img {
    width: 100%;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #666;
}

i {
    font-size: 2em;
    margin-bottom: 10px;
}

li {
    padding: 0 10px;
}

#mensaje-tarjeta, .beneficios, .burger-menu {
    text-align: center;
}

/** Header **/

.main-header {
    background-color: #EAC926;
    padding: 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

#top-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#site, #login-navbar {
    display: none;
}

#barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#logo, #barra-busqueda {
    width: 50%;
}

#barra-busqueda input {
    width: 100%;
    max-width: 200px;
}

#burger-menu {
    background-color: #1259c3;
    color: #ebebeb;
    width: 3em;
    height: 3em;
    margin: auto;
    border-radius: 20%;
    text-align: center;
}

/** Main **/

main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    margin-top: 240px;
}

section {
    width: 100%;
    margin: auto;
}

section article {
    width: 100%;
    margin: auto;
    margin: 10px 0;
}

/* Home */

main section article div{
    position: relative;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripcion {
    display: none;
}

.info-producto {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background: white;
    margin: auto;
    transition: all 450ms;
}

.fa-truck {
    padding: 5px;
    border: solid 1px green;
    border-radius: 100%;
    color: green;
    transition: all 450ms;
}

.fa-truck:hover {
    transform: rotate(-90deg);
}

.fa-bars {
    padding: 5px;
}

/* Registro */

form {
    padding: 20px 10px;
    width: 100vw;
    margin: auto;
    text-align: center;
}

form div.field {
    text-align: left;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    border: thin
}

form div.field-button {
    display: flex;
    flex-direction: column;
}

/* Login */

.login-button {
    color: #fff;
    background-color: #1259c3;
    padding: 5px;
    border-radius: 5px;
    transition: all 450ms;
}

.login-button:hover {
    background-color: #0022AA;
}

.login-button a {
    text-decoration: none;
    color: white;
}

/** Footer **/

footer {
    width: 90%;
    margin: auto;
    background-color: white;
    color: #666;
}

.icono-beneficios {
    color: #1259c3;
    transition: all 450ms;
}

.icono-beneficios:hover {
    color: green;
}

.top-footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

/** Media Queries **/

@media (min-width: 361px) {
    main section {
        display: flex;
        flex-wrap: wrap;
    }
    main section article {
        padding: 10px 10px;
        width: 50%;
        box-shadow: 0px 0px 1px rgb(100, 100, 100);
    }

    .info-producto {
        display: block;
    }

    .precio-y-descuento {
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .precios {
        flex-grow: 0.3;
    }
    .descuentos {
        flex-grow: 0.70;
    }
    .descripcion {
        display: inline;
    }
    .left-navbar, .right-navbar {
        display: flex;
        align-items: center;
    }
    #site {
        display: flex;
        justify-content: space-between;
    }
    #burger-menu {
        display: none;
    }
    .left-navbar, .right-navbar {
        list-style: none;
    }
}

@media (min-width: 768px) {
    main section article {
        padding: 10px 10px;
        width: 25%;
    }
    #top-header {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    #logo, #barra-busqueda {
        width: 30%;
    }
    .top-footer {
        flex-direction: row;
    }
}